main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

body {
    overflow: scroll;
}

.hidden {
    display: none;
}

.active {
    border: 5px solid black;
}

canvas {
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
}

.displayDiv {
    margin: auto 10px;
}

#hud {
    display: flex;
    justify-content: center;
}

#customSection {
    margin: 50px;
}

#customSection .displayDiv {
    margin: 10px;
}

#customSection label,
#customSection output {
    font-size: large;
    font-weight: bold;
}

