/* 
    Designed With Mobile First Approach,
    Check bottom for Tablet and Desktop CSS.
*/
@keyframes slideOut {
    from {
        margin-left: -1000px;
    }
    to {
        margin-left: 50%;
    }
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("../assets/nathan-anderson-L95xDkSSuWw-unsplash.jpg");
    background-position: center;
    background-repeat: repeat-y;
}

.hidden {
    display: none;
}

.active {
    border: 5px solid black;
}

.row {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    overflow: scroll;
    font-size: x-large;
}

#starterSection,
#gameSection,
#gameOverSection,
#customSection {
    color: white;
    backdrop-filter: blur(10px) saturate(100%);
    border-radius: 10px;
    width: 100%;
    padding: 5%;
    /* transition: 0.5s; */
    /* animation-name: slideOut; */
    /* animation-duration: 1s; */
}

button {
    border: none;
    font-size: large;
    padding: 5px;
    width: 150px;
    height: 50px;
    margin: 5px;
    transition: 0.5s;
}

button:hover:not(:disabled) {
    background: transparent;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 5px white;
}

canvas {
    border: 1px solid black;
}

.displayDiv {
    margin: auto 10px;
}

#hud {
    display: flex;
    justify-content: center;
}

#customSection .displayDiv {
    margin: 10px 5px;
    width: 50%;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#customSection input {
    width: 100%;
    text-align: center;
}

#customSection label,
#customSection input {
    font-size: x-large;
    font-weight: bold;
}

#customSection #confirmBox {
    width: 20px;
    height: 20px;
}

/* For Tablets */
@media screen and (min-width: 700px) {

    button {
        border: none;
        font-size: x-large;
        width: 175px;
    }

    #starterSection,
    #gameSection,
    #gameOverSection,
    #customSection {
        width: 75%;
        margin: auto;
    }

    #warningSection {
        display: none;
    }

    body {
        background-size: auto;
    }

    #customSection .displayDiv {
        display: inline-block;
    }
    
    #customSection input {
        width: 75%;
    }

    #customSection #confirmBox {
        width: 20px;
        height: 20px;
    }
}

/* For Desktops */
@media screen and (min-width: 1100px) {
    #starterSection,
    #gameSection,
    #gameOverSection,
    #customSection {
        width: 45%;
        margin: auto;
        padding: 2vh;
    }

    #gameSection {
        width: auto;
    }

    body {
        background-position: center;
        background-size: cover;
    }

    #customSection #confirmBox {
        width: 20px;
        height: 20px;
    }

    #customSection {
        margin: auto;
    }

    #customSection .displayDiv {
        width: 50%;
        display: inline;
    }
    
    #customSection input {
        margin: 10px;
        width: auto;
    }

}